body {
    font-family: "Source Code Pro", monospace;
    background-color: #0f0f23;
    color: #009900;
    text-align: center;
}

form {
    margin-top: 50px;
}

input, button {
    font-size: 16px;
    padding: 5px;
}

button {
    background-color: #0f0f23;
    color: #009900;
}

    button:hover {
        background-color: #0f0f23;
        color: #00cf00;
    }

a {
    display: inline-block;
    margin-top: 5px;
    color: #009900;
    text-decoration: none;
    font-size: 14pt;
}

    a:hover {
        color: #00cf00;
    }
